<template>
  <div id="daswin-navbar" class="daswin-navbar">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <nuxt-link to="/">
            <div v-if="typeLogo" class="daswin-navbar__logo">
              <img v-if="typeHamburger === 'type-white'" :src="logoDaswinWhite">
              <img v-if="typeHamburger === 'type-black'" :src="logoDaswinBlack">
            </div>
          </nuxt-link>
          <div
            class="daswin-navbar__hamburger"
            @click="handleHamburgerOpen"
          >
            <img v-if="typeHamburger === 'type-white'" :src="hamburgerWhite">
            <img v-if="typeHamburger === 'type-black'" :src="hamburgerBlack">
          </div>
          <!-- <span id="btn2" data-size="50" style="z-index: 9999;" class="jellybo-MenuIcon004"></span> -->
          <transition name="fade">
            <DaswinMenu
              @close-menu="handleHamburgerClose"
              v-if="menuFull"
            />
          </transition>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import LogoDaswinBlack from '~/static/images/components/logo-daswin-black.png'
import LogoDaswinWhite from '~/static/images/components/logo-daswin-white.png'
import HamburgerBlack from '~/static/images/components/hamburger-black.png'
import HamburgerWhite from '~/static/images/components/hamburger-white.png'
import DaswinMenu from './DaswinMenu'
export default {
  components: {
    DaswinMenu
  },
  props: {
    typeHamburger: String,
    typeLogo: Boolean
  },
  data () {
    return {
      menuFull: false,
      logoDaswinBlack: LogoDaswinBlack,
      logoDaswinWhite: LogoDaswinWhite,
      hamburgerBlack: HamburgerBlack,
      hamburgerWhite: HamburgerWhite
    }
  },
  methods: {
    handleHamburgerOpen (e) {
      e.preventDefault()
      this.menuFull = true
    },
    handleHamburgerClose () {
      this.menuFull = false
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
