<template>
  <div class="menu-address">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <hr>
          <br/>
          <p>At Intersection Of</p>
          <p>Jl. H.R. Rasuna Said Kav. C22 and Jl. Casablanca</p>
          <p>South Jakarta 12940</p>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
