<template>
  <div class="menu-development">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          <hr>
          <div class="menu-development__title">
            Join Development with:
          </div>
          <div class="menu-development__list-logo">
            <a
              v-for="logo in logoDevelopments"
              :key="logo.id"
              class="image"
              :class="{'image-zhg': logo.id === 2}"
              :href="logo.link"
              target="_blank"
            >
              <img :src="logo.path" :alt="logo.name">
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import logoMitshubisi from '~/static/images/menu/logo-development-mitshubisi.png'
import logoSantini from '~/static/images/menu/logo-development-santini.png'
import logoshmz from '~/static/images/menu/logo-development-shmz.png'
import logoTheGesit from '~/static/images/menu/logo-development-the-gesit.png'
export default {
  data () {
    return {
      logoDevelopments: [
        {
          id: 1,
          name: 'Mithisubisi',
          path: logoMitshubisi,
          link: 'http://www.mec.co.jp/index_e.html'
        },
        {
          id: 2,
          name: 'SHMZ',
          path: logoshmz,
          link: 'https://www.shimz.co.jp/en/'
        },
        {
          id: 3,
          name: 'Santini',
          path: logoSantini,
          link: 'http://santini-group.com/en/'
        },
        {
          id: 4,
          name: 'The Gesit',
          path: logoTheGesit,
          link: 'https://www.gesit.co.id/'
        }
      ]
    }
  }
}
</script>
