<template>
  <div class="our-sustainability-wrapper">
    <section class="scroll-bottom our-sustainability-wrapper__description">
      <div class="background" :style="{ backgroundImage: `url(${backgroundUrl})` }"></div>
      <div class="overlay-very-light"></div>
      <DaswinNavbar
        :type-logo="true"
        :type-hamburger="'type-black'"
      />
      <b-container>
        <b-row>
          <b-col cols="12">
            <div class="content">
              <div class="box">
                <div class="box__title">
                  Sustainability and Awards
                </div>
                <div class="box__description">
                  <p>Daswin Office Tower aims for GOLD Green Certification from</p>
                  <p><span class="bold">Green Building Council of Indonesia (GBCI)</span>. The project was nominated</p>
                  <p>several categories at the <span class="bold">2018 Property Guru Indonesia Property</span></p>
                  <p><span class="bold">Awards</span> and won Best Green Development category.</p>
                </div>
                <!-- <button id="go">&raquo; Run</button>
                <div id="block">Hello!</div> -->
                <div class="susta box__icon-bottom">
                  <img src="~/static/images/components/arrow-bottom.png">
                </div>
                <!-- <a href="#sustainability-scroll" class="box__icon-bottom">
                  <img src="~/static/images/components/arrow-bottom.png">
                </a> -->
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="sustainability-scroll our-sustainability-wrapper__introduction">
      <div class="background" :style="{ backgroundImage: `url(${backgroundUrlMiddle})` }"></div>
      <b-container>
        <b-row>
          <b-col md="8" offset-md="2">
            <div class="box-introduction">
              <br>
              <br>
              <div class="box-introduction__logo">
                <img src="~/static/images/sustainability-awards/logo-green.png">
              </div>
              <div class="box-introduction__description">
                <p>
                  <span class="bold">Green Building Council Indonesia (GBC Indonesia)</span> is an independent organization <br>established in 2009 by professionals in design and construction industry who are concerned <br>about green building practices. The main focus of GBC Indonesia is to pursue the <br>socialization and transformation of sustainable green principles, particularly in building <br>construction industry in Indonesia.
                </p>
                <p>
                  In organizing its activities, GBC Indonesia collaborates with all building stakeholders, <br>including professional, government and private sectors. GBC Indonesia have 4 main <br>programs, there are: market transformation, training & education, green building <br>certification and stakeholder engagement.
                </p>
                <p>
                  GBC Indonesia is an Established Member of World Green Building Council (World GBC), <br>where the head quarter is in Toronto, Canada
                </p>
              </div>
              <br>
              <br>
              <br>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="our-sustainability-wrapper__award">
      <div class="background" :style="{ backgroundImage: `url(${backgroundAward})` }"></div>
      <div class="overlay-very-light"></div>
      <b-container>
        <b-row>
          <b-col md="8" lg="9" offset-md="2" offset-lg="1">
            <br>
            <br>
            <div class="title-top">
              Sustainability And Awards
            </div>
            <div class="year">
              2018
            </div>
            <b-row class="pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3">
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-award">
                  <div class="box-award__image">
                    <img src="~/static/images/sustainability-awards/award-1.png">
                  </div>
                  <div class="box-award__title">
                    Winner of Best Green Development,<br>
                    Property Guru Indonesia Property Awards 2018
                  </div>
                </div>
              </b-col>
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-award">
                  <div class="box-award__image">
                    <img src="~/static/images/sustainability-awards/award-2.png">
                  </div>
                  <div class="box-award__title">
                    Highly Commended of Best Office Architectural Design,<br>
                    Property Guru Indonesia Property Awards 2018
                  </div>
                </div>
              </b-col>
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-award">
                  <div class="box-award__image">
                    <img src="~/static/images/sustainability-awards/award-3.png">
                  </div>
                  <div class="box-award__title">
                    Highly Commended of Best Office Development,<br>
                    Property Guru Indonesia Property Awards 2018
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col lg="12">
                <div class="description">
                  <p>
                    The PropertyGuru Asia Property Awards is the region’s biggest and most respected real estate awards programme.The Awards programme has an unparalleled reputation for being credible, fair and transparent. All entries are rigorously and fairly judged by an independent panel of industry experts and assessed by a trusted awards supervisor.
                  </p>
                  <p>
                    All shortlisted companies can therefore be extremely proud of the huge achievement of setting the benchmark for their nation’s real estate sector and, if successful, will go on to represent their country at the two-night Asia Property Awards grand final in Singapore. Originally launched in Thailand in 2005 at the height of Asia’s property boom, the Asia Property Awards in 2016 became part of PropertyGuru, Asia’s foremost online property group.
                  </p>
                </div>
              </b-col>
            </b-row>
            <br>
            <br>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import BackgroundSustainability from '~/static/images/sustainability-awards/bg-sustainability.jpeg'
import BackgroundSustainability2 from '~/static/images/sustainability-awards/bg-sustainability-2.jpeg'
import BackgroundSustainability3 from '~/static/images/sustainability-awards/bg-sustainability-3.jpg'
export default {
  layout: 'building',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {
      backgroundUrl: BackgroundSustainability,
      backgroundUrlMiddle: BackgroundSustainability3,
      backgroundAward: BackgroundSustainability2
    }
  }
}
</script>
