@media screen and (max-width: 360px){
  .daswin-navbar__hamburger > img {
    width: 30px;
    margin-top: 10px;
  }

  .daswin-menu__content .menu-header__icon > img {
    width: 30px;
    margin-top: 10px;
  }

  .our-location-wrapper__box-right {
    height: auto;
  }

  .our-location-wrapper__box-right .marker {
    right: 13.5vh;
    bottom: 17.5vh;
  }

  .daswin-navbar__logo > img {
    width: 50px;
  }

  .daswin-menu__content .menu-header__logo > img {
    width: 50px;
  }

  .daswin-navbar__hamburger {
    margin-top: 0px;
  }

  .daswin-menu__content .menu-header__icon {
    margin-top: 0px;
  }

  .daswin-menu__content .menu-development__list-logo .image {
    width: 60%;
    margin-bottom: 15px;
  }

  .daswin-menu__content .menu-development__list-logo .image.image-zhg {
    width: 60%;
  }

  .daswin-wrapper .home-page__content .box {
    max-width: 80%;
  }

  .daswin-wrapper .home-page__content .box__title {
    font-size: 1.5em;
  }

  .daswin-wrapper .home-page__content .box__description p {
    font-size: 12px;
  }

  .our-building-wrapper__story .content .box {
    margin-left: -25px;
    margin-top: 42em;
    max-width: 85%;
    padding-right: 0;
  }

  .our-building-wrapper__past-project .box-list-project__list {
    width: 100%;
    height: 300px;
  }

  .our-building-wrapper__past-project .box-list-project__list .box-info__title {
    font-size: 24px;
  }

  .specification-wrapper__title {
    margin-top: 8em;
  }

  .specification-wrapper__box-content .box-content-image {
    float: inherit;
    width: 100%;
  }

  .specification-wrapper__box-content .box-content-description {
    float: inherit;
    width: 100%;
  }

  .projects-update-wrapper__story .content .box {
    max-width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .projects-update-wrapper__listing-project .box-list-project__list {
    width: 100%;
  }

  .our-building-wrapper__shareholders .box-shareholders__title {
    font-size: 22px;
  }

  .our-building-wrapper__shareholders .box-shareholders__description p {
    font-size: 12px;
  }

  .our-sustainability-wrapper__description .content .box {
    margin-top: 62em;
  }

  .our-sustainability-wrapper__description .content .box__title {
    font-size: 23px;
  }

  .our-sustainability-wrapper__description .content .box__description p {
    font-size: 12px;
  }

  .specification-wrapper__title .title {
    font-size: 14px;
  }

  .specification-wrapper__title .sub-title {
    font-size: 2.5em;
  }

  .projects-update-wrapper__story .content .box__title {
    font-size: 20px;
  }

  .projects-update-wrapper__story .content .box__description p {
    font-size: 12px;
  }

  .our-building-wrapper__story .content .box__title-top {
    font-size: 12px;
  }

  .our-building-wrapper__story .content .box__title {
    font-size: 20px;
  }

  .our-building-wrapper__project-team .title-second {
    font-size: 25px;
  }

  .our-building-wrapper__project-team .main-contractor .title {
    font-size: 22px;
  }

  .our-building-wrapper__project-team .main-international .title {
    font-size: 22px;
  }

  .info-detail-wrapper__time-title .title {
    font-size: 1.5em;
  }

  .info-detail-wrapper__time-title .time,
  .info-detail-wrapper__time-title .source {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .image-preview-full__image img {
    width: auto;
    height: 100%;
  }

  .info-tenant-wrapper {
    &__story {
      .background {
        height: auto;
      }

      .content {
        flex-direction: column;

        &__box-information {
          width: 100%;

          .box-body{
            width: 100vw;

            &__title {
              font-size: 18px;
            }

            &__title-top {
              font-size: 14px;
            }

            &.detail-building {
              margin-top: 15vh;
              margin-bottom: 15vh;
            }

            &.detail-building-multifunction {


              img {
                width: 230px;
              }
            }

            &__image {
              img {
                width: 270px;
              }
            }

            &__description {
              p {
                font-size: 8px;
                line-height: 15px;
              }
            }
          }
        }

        &__box-list {
          width: 100%;
          justify-content: flex-start;

          .box-listing {
            width: 50vw;
            margin-left: 23vw;

            &__list {

            }
          }
        }
      }
    }
  }

  .retail-facilities {
    position: inherit;
    overflow: inherit;
  }

  .retail-facilities__image-big {
    width: 100%;
    position: inherit;
  }

  .retail-facilities__image-medium {
    width: 100%;
    bottom: initial;
    position: inherit;
  }

  .retail-facilities__image-medium .list-image {
    width: 100%;
  }

  .retail-facilities__info-description {
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 0px 2em;
    margin-top: 25px;
    margin-bottom: 13em;
    display: inline-block;
  }

  .daswin-menu__content .menu-list__list-link p a {
    font-size: 24px;
  }
}
