@media screen and (max-width: 1366px){
  .daswin-menu {
    &__content {
      .menu-list {
        margin-top: 2em;
        margin-bottom: 0em;
      }

      .menu-development {
        &__list-logo {
          .image {
            width: 15%;
          }
        }
      }

      .menu-address {
        margin-top: 0px;
      }

      .menu-footer {
        margin-top: 40px;

        &__description {
          p {
            font-size: 11px;
          }
        }

        &__copyright {
          p {
            font-size: 11px;
          }
        }
      }
    }
  }

  .info-tenant-wrapper {
    &__story {
      .content {
        &__box-information {
          .box-body{
            &.detail-building {
              margin-top: 0vh;
            }

            &.detail-building-multifunction {
              margin-top: 0vh;
            }
          }
        }

        &__box-list {
          .box-listing {
            &__list {

            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1366px){
  .fs-lg-16{
    font-size: 16px;
  }
  .fs-lg-17{
    font-size: 17px;
  }
  .fs-lg-18{
    font-size: 18px;
  }
  .fs-lg-19{
    font-size: 19px;
  }
  .fs-lg-20{
    font-size: 20px;
  }
}
