@media screen and (max-width: 768px){
  .daswin-copyright {
    width: 50%;
  }

  .daswin-menu__content .menu-list__list-link p a {
    font-size: 18px;
  }

  .daswin-menu__content .menu-footer__copyright p {
    margin-bottom: 20px;
  }

  .daswin-wrapper .home-page__content .box__title {
    font-size: 2em;
  }

  .daswin-wrapper .home-page__content .box__description p {
    font-size: 0.70em;
  }

  .our-building-wrapper__story .content .box {
    margin-left: 40px;
    max-width: 100%;
    padding-right: 0;
  }

  .our-building-wrapper__past-project .box-list-project__list img {
    width: auto;
    height: 120%;
  }

  .our-location-wrapper__box-left {
    width: 100%;
    float: inherit;
  }

  .our-location-wrapper__box-right {
    width: 100%;
    float: inherit;
  }

  .our-location-wrapper__box-right img {
    height: auto;
  }

  .our-sustainability-wrapper__description .content .box {
    max-width: 80%;
    flex: 1;
    text-align: center;
    margin-top: 45em;
  }

  .projects-update-wrapper__story .content .box {
    max-width: 65%;
    padding-left: 0;
    margin-left: 30%;
  }

  .projects-update-wrapper__story .content .box__title {
    font-size: 25px;
  }

  .projects-update-wrapper__story .content .box__description p {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
  }

  .projects-update-wrapper__listing-project .box-list-project__list {
    width: 50%;
    height: 300px;
  }

  .inquiries-wrapper__contact .box {
    margin-top: 45em;
  }

  .info-tenant-wrapper {
    &__story {
      .content {
        &__box-information {
          .box-body{
            width: 40vw;

            &__title {
              font-size: 18px;
            }

            &__title-top {
              font-size: 14px;
            }

            &.detail-building {
              margin-top: 15vh;
            }

            &.detail-building-multifunction {
              margin-top: 0vh;

              img {
                width: 230px;
              }
            }

            &__image {
              img {
                width: 270px;
              }
            }

            &__description {
              p {
                font-size: 8px;
                line-height: 15px;
              }
            }
          }
        }

        &__box-list {
          width: 57%;

          .box-listing {
            margin-top: 31%;

            &__list {
              &.is-1 {
                margin-bottom: 4vh;
              }

              &.is-2 {
                margin-bottom: 10vh;
              }

              &.is-4 {
                margin-bottom: 14vh;
              }
            }
          }
        }
      }
    }
  }
}
