@font-face {
    font-family: 'Butler';
    src: url('Butler-ExtraBold.eot');
    src: url('Butler-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Butler-ExtraBold.woff2') format('woff2'),
        url('Butler-ExtraBold.woff') format('woff'),
        url('Butler-ExtraBold.ttf') format('truetype'),
        url('Butler-ExtraBold.svg#Butler-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.eot');
    src: url('Butler-Bold.eot?#iefix') format('embedded-opentype'),
        url('Butler-Bold.woff2') format('woff2'),
        url('Butler-Bold.woff') format('woff'),
        url('Butler-Bold.ttf') format('truetype'),
        url('Butler-Bold.svg#Butler-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-UltraLight.eot');
    src: url('Butler-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Butler-UltraLight.woff2') format('woff2'),
        url('Butler-UltraLight.woff') format('woff'),
        url('Butler-UltraLight.ttf') format('truetype'),
        url('Butler-UltraLight.svg#Butler-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Light.eot');
    src: url('Butler-Light.eot?#iefix') format('embedded-opentype'),
        url('Butler-Light.woff2') format('woff2'),
        url('Butler-Light.woff') format('woff'),
        url('Butler-Light.ttf') format('truetype'),
        url('Butler-Light.svg#Butler-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler.eot');
    src: url('Butler.eot?#iefix') format('embedded-opentype'),
        url('Butler.woff2') format('woff2'),
        url('Butler.woff') format('woff'),
        url('Butler.ttf') format('truetype'),
        url('Butler.svg#Butler') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Medium.eot');
    src: url('Butler-Medium.eot?#iefix') format('embedded-opentype'),
        url('Butler-Medium.woff2') format('woff2'),
        url('Butler-Medium.woff') format('woff'),
        url('Butler-Medium.ttf') format('truetype'),
        url('Butler-Medium.svg#Butler-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Black.eot');
    src: url('Butler-Black.eot?#iefix') format('embedded-opentype'),
        url('Butler-Black.woff2') format('woff2'),
        url('Butler-Black.woff') format('woff'),
        url('Butler-Black.ttf') format('truetype'),
        url('Butler-Black.svg#Butler-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

