<template>
  <transition name="fade">

    <div class="content__box-information">
      <div class="box-body detail-building">
        <div class="box-body__title-top">
          BUILDING INFORMATION
        </div>
        <div class="box-body__title">
          Elevation
        </div>
        <div class="box-body__title">
          Typical Low Zone
        </div>
        <div class="box-body__info-level">
          Level 6 - Level 21 • 1.683 - 1.686 sqm Semigross
        </div>
        <div class="box-body__info-description">
          All area are subject to final measurements.
        </div>
        <div class="box-body__info-type underline">
          Single Tenancy
        </div>
        <div
          @click="handleUrl('/building-information-typical-low-zone-4-tenants')"
          class="box-body__info-type"
        >
          Multi Tenancy
        </div>
        <div class="box-body__image">
          <img src="~/static/images/building-specification/denah-typical-low-zone-v1.png">
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    layout: 'project',
  }
</script>

<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }
</style>
