<template>
  <transition name="fade">
    <div class="info-tenant-wrapper">
      <section class="info-tenant-wrapper__story" :style="{height: bgheight + 'px'}">
        <div
          class="background"
          :style="{ backgroundImage: `url(${backgroundUrl})` }"
        >
          <div class="content">
            <div class="content__box-list">
              <div class="box-listing">
                <div
                  class="box-listing__list is-1"
                  :class="{ 'active': numbering === 1 }"
                >
                  <div class="number">1</div>
                  <div
                    @click="handleUrl('HighZone', 1)"
                    class="text"
                  >
                    <div class="text__title">Typical High Zone</div>
                    <div class="text__level">level 40 - level 57</div>
                  </div>
                </div>
                <div
                  class="box-listing__list is-2"
                  :class="{ 'active': numbering === 4 }"
                >
                  <div class="number">2</div>
                  <div
                    @click="handleUrl('Refuge', 4)"
                    class="text"
                  >
                    <div class="text__title">Refuge Floor</div>
                    <div class="text__level">level 39</div>
                  </div>
                </div>
                <div
                  class="box-listing__list is-3"
                  :class="{ 'active': numbering === 3 }"
                >
                  <div class="number">3</div>
                  <div
                    @click="handleUrl('MidZone', 3)"
                    class="text"
                  >
                    <div class="text__title">Typical Mid Zone</div>
                    <div class="text__level">level 23 - level 38</div>
                  </div>
                </div>
                <div
                  class="box-listing__list is-4"
                  :class="{ 'active': numbering === 4 }"
                >
                  <div class="number">4</div>
                  <div
                    @click="handleUrl('Refuge', 4)"
                    class="text"
                  >
                    <div class="text__title">Refuge Floor</div>
                    <div class="text__level">level 22</div>
                  </div>
                </div>
                <div
                  class="box-listing__list is-5"
                  :class="{ 'active': numbering === 5 }"
                >
                  <div class="number">5</div>
                  <div
                    @click="handleUrl('SingleTenants', 5)"
                    class="text"
                  >
                    <div class="text__title">Typical Low Zone</div>
                    <div class="text__level">level 6 - level 21</div>
                  </div>
                </div>
                <div
                  class="box-listing__list is-6"
                  :class="{ 'active': numbering === 6 }"
                >
                  <div class="number">6</div>
                  <div
                    @click="handleUrl('Multifunction', 6)"
                    class="text"
                  >
                    <div class="text__title">Multifunction Floor</div>
                  </div>
                </div>
              </div>
            </div>
            <keep-alive>
              <component v-bind:is="comp">

              </component>
            </keep-alive>

          </div>
        </div>
      </section>
    </div>
  </transition>
</template>

<script>
  import ElevationFloor from '@/components/ElevationFloor/Index'
  import BackgroundPath from '~/static/images/building-specification/background.jpg'
  import HighZone from '@/pages/building-information-typical-high-zone/Index'
  import Refuge from '@/pages/building-information-refuge-floor/Index'
  import MidZone from '@/pages/building-information-typical-mid-zone/Index'
  import SingleTenants from '@/pages/building-information-typical-low-zone-single-tenants/Index'
  import Multifunction from '@/pages/building-information-multifunction-floor/Index'

  export default {
    components: {
      ElevationFloor,
      HighZone,
      Refuge,
      MidZone,
      SingleTenants,
      Multifunction,
      Default: {
        template: '<div class="content__box-information">\n' +
            '                  <div class="box-body">\n' +
          '                    <div class="box-body__title-top">\n' +
          '                      BUILDING INFORMATION\n' +
          '                    </div>\n' +
          '                    <div class="box-body__title">\n' +
          '                      Elevation\n' +
          '                    </div>\n' +
          '                    <div class="box-body__description">\n' +
          '                      <p>Daswin Office Tower is able of accommodates large <br/>enterprises (up to 50,000 sqm) to small new startup <br/>enterprises. A well-thought building, Daswin Office Tower <br/>exquisitely designed with flexible configuration applicable for <br/>all tenants. </p>\n' +
          '                      <p>To match the requirement regarding the specific need of your <br/>enterprise, please contact us for further information.</p>\n' +
          '                    </div>\n' +
          '                  </div>\n' +
          '                </div>'
        }
    },
    data: function () {
      return {
        backgroundUrl: BackgroundPath,
        bgheight: '100%',
        content: 'multifunction',
        numbering: 6
      }
    },
    computed: {
      comp: function () {
        return this.content ? this.content : 'multifunction'
      }
    },
    created: function () {
      window.addEventListener('resize', this.onresize)
    },
    mounted: function () {
      this.onresize()
      this.handleUrl('multifunction', 6)
    },
    destroyed: function () {
      // location.reload()
      window.removeEventListener('resize', this.onresize)
    },
    methods: {
      onresize: function (e) {
        var calculatedHeight = (1080 / 1920) * document.documentElement.clientWidth
        this.bgheight = calculatedHeight > document.documentElement.clientHeight ? calculatedHeight : document.documentElement.clientHeight
      },
      handleUrl: async function (params = 'multifunction', numbering = 1) {
        console.log(this)
        this.content = params
        this.numbering = numbering
        return params
      }

    }
  }
</script>

<style lang="scss" scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }
</style>
