<template>
  <div class="our-location-wrapper">
    <DaswinNavbar
      :type-logo="true"
      :type-hamburger="'type-black'"
    />
    <section class="our-location-wrapper__box-left">
      <div class="description">
        <div class="description__title">Location</div>
        <div class="description__desc">
          <p>
            DASWIN Office Tower is situated at the heart of CBD Jakarta in the intersection
            of Jl. H.R. Rasuna Said (main access) and Jl. Casablanca (secondary access).<br>
            Proposed LRT Station and Trans Jakarta Shelter (Soemantri and Kuningan
            Station) will be located only few meters away from the building, making it very
            desirable for future prospective company’s employee.
          </p>
          <hr>
        </div>
      </div>
      <div class="copyright">
        Copyright &copy; 2019 Daswin Office Tower. All Rights Reserved.
      </div>
    </section>
    <section @click="handleMapsOpen" class="our-location-wrapper__box-right">
      <img src="~/static/images/our-location/bg-location-3.jpeg">
      <div class="marker">
        <img src="~/static/images/our-location/marker-map.png">
      </div>
    </section>
    <transition name="fade">
      <div v-if="maps" class="maps-full-wrapper">
        <div class="maps-full">
          <b-container fluid>
            <b-row>
              <b-col cols="12">
                <div @click="handleMapsClose" class="icon-close">
                  <img src="~/static/images/components/close-black.png">
                </div>
              </b-col>
            </b-row>
          </b-container>
          <img src="~/static/images/our-location/bg-location-1.jpg">
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
export default {
  layout: 'location',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {
      maps: false
    }
  },
  methods: {
    handleMapsOpen () {
      this.maps = true
    },
    handleMapsClose () {
      this.maps = false
    }
  }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
