<template>
  <section class="projects-update-wrapper__listing-project">
    <div class="box-list-project">
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-1.png">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">Ground Breaking <br>Daswin Office Tower</div>
          <nuxt-link class="hvr-shutter-in-horizontal" to="/ground-breaking-daswin-office-tower">
            EXPLORE
          </nuxt-link>
        </div>
      </div>
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-2.png">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">October 2018</div>
          <nuxt-link to="/october-2018">
            <a href="" class="hvr-shutter-in-horizontal">
              EXPLORE
            </a>
          </nuxt-link>
        </div>
      </div>
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-update-1-desember-2018.jpg">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">December 2018</div>
          <nuxt-link to="/december-2018">
            <a href="" class="hvr-shutter-in-horizontal">
              EXPLORE
            </a>
          </nuxt-link>
        </div>
      </div>
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-update-february-2019-1.jpg">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">February 2019</div>
          <!-- <div class="comming-soon">Coming soon</div> -->
          <nuxt-link to="/february-2019">
            <a href="" class="hvr-shutter-in-horizontal">
              EXPLORE
            </a>
          </nuxt-link>
        </div>
      </div>
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-update-may-2019-0.jpg">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">May 2019</div>
          <!-- <div class="comming-soon">Coming soon</div> -->
          <nuxt-link to="/may-2019">
            <a href="" class="hvr-shutter-in-horizontal">
              EXPLORE
            </a>
          </nuxt-link>
        </div>
      </div>
      <div class="box-list-project__list">
        <div class="overlay"></div>
        <img src="~/static/images/projects-update/project-update-june-2019-0.jpg">
        <div class="box-info">
          <div class="box-info__title">PROJECT UPDATE</div>
          <div class="box-info__subtitle">June 2019</div>
          <!-- <div class="comming-soon">Coming soon</div> -->
          <nuxt-link to="/june-2019">
            <a href="" class="hvr-shutter-in-horizontal">
              EXPLORE
            </a>
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>
