@import 'header';
@import 'menu';
@import 'footer';

.daswin-wrapper {
  height: 100%;
  position: relative;

  @import 'blank';
  @import 'pages/home';
}

@import 'content';
@import 'pages/building';
@import 'pages/sustainability';
@import 'pages/location';
@import 'pages/inquiries';
@import 'pages/projects';
@import 'pages/specification';
