.daswin-menu {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: 0;

  &__content {
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 30px 15px 15px 50px;

    hr {
      margin-top: 1rem;
      margin-bottom: 0rem;
      border: 0;
      width: 3%;
      border-top: 1px solid #ffc107;
      float: left;
    }

    .menu-header {
      width: 100%;
      display: block;

      &__logo {
        float: left;
        margin-bottom: 20px;

        > img {
          width: 120px;
        }
      }

      &__icon {
        float: right;
        margin-top: 20px;
        cursor: pointer;

        > img {
          width: 40px;
        }
      }
    }

    .menu-list {
      width: 100%;
      display: inline-block;
      margin-top: 3em;
      margin-bottom: 3em;

      &__title {
        width: 100%;
        display: inline-block;
        font-size: 18px;
        color: #a9a8a8;
        font-family: 'Avenir';
        font-weight: 300;
        letter-spacing: 2px;
      }

      &__list-link {
        display: block;

        p {
          margin-bottom: 5px;
          color: $white;
          font-size: 36px;

          a {
            color: $white;
            font-family: 'Butler';
            font-weight: 300;
            letter-spacing: 1px;
          }
        }
      }
    }

    .menu-development {
      width: 100%;
      display: inline-block;

      &__title {
        width: 100%;
        display: inline-block;
        font-size: 24px;
        color: $white;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Avenir';
        font-weight: 300;
        letter-spacing: 2px;
      }

      &__list-logo {
        display: flex;
        width: 100%;

        .image {
          margin-right: 20px;
          width: 15%;
          align-content: center;
          display: flex;
          align-items: center;

          &.image-zhg {
            width: 5%;

            img {

            }
          }

          img {
            width: 100%;
            margin-left: 10px;
            float: left;
          }
        }
      }
    }

    .menu-address {
      width: 100%;
      display: inline-block;
      margin-top: 15px;
      margin-bottom: 20px;

      p {
        margin: 0;
        font-size: 22px;
        color: #FFFFFF;
        font-family: 'Avenir';
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 42px;
      }
    }

    .menu-footer {
      width: 100%;
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 20px;

      &__description {
        width: 100%;
        display: inline-block;

        p {
          color: $white;
          font-size: 10px;
          margin: 0;
          font-family: 'Avenir';
          font-weight: normal;
        }
      }

      &__copyright {
        width: 100%;
        display: inline-block;

        p {
          color: $white;
          font-size: 10px;
          margin: 0;
          margin-top: 30px;
          font-family: 'Avenir';
          font-weight: 300;
        }
      }
    }
  }
}
