<template>
  <div class="inquiries-wrapper">
    <DaswinNavbar
      :type-logo="true"
      :type-hamburger="'type-black'"
    />
    <section class="inquiries-wrapper__contact">
      <b-container>
        <b-row>
          <b-col md="7" offset-md="3">
            <b-row>
              <b-col cols="12">
                <div class="box">
                  <div class="box__title">
                    Inquiries
                  </div>
                  <div class="box__form">
                    <form class="contact-form">
                      <div class="form-field">
                        <input v-model="name" class="input-text" :class="{'not-empty': this.name.length > 0}" type="text" autocomplete="false" required>
                        <label class="label" for="name">Name</label>
                      </div>
                      <div class="form-field">
                        <input v-model="email" class="input-text" :class="{'not-empty': this.email.length > 0}" type="email" autocomplete="false" required>
                        <label class="label" for="email">Email</label>
                      </div>
                      <div class="form-field">
                        <input v-model="phone" class="input-text" :class="{'not-empty': this.phone.length > 0}" type="text" autocomplete="false" required>
                        <label class="label" for="phone">Phone</label>
                      </div>
                    </form>
                    <b-button :disabled="!email" @click="handleSave" size="md" variant="primary">
                      Submit
                    </b-button>
                  </div>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-address">
                  <p>Daswin Office Tower</p>
                  <p>Intersection of Jl. H.R. Rasuna Said &
                  <p>Jl. Casablanca</p>
                  <p>Email: Info.marketing@windas-dev.com</p>
                  <p>Phone: +62 811 9 33 66 33</p>
                  <br>
                  <div class="span underline-left">
                    <a target="_blank" href="https://windas-dev.com/Daswin-Brochure.pdf">DOWNLOAD BROCHURE</a>
                  </div>
                  <!-- <a class="growing-line" href="">
                    DOWNLOAD BROCHURE
                  </a> -->
                </div>
              </b-col>
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-visual">
                  <p class="yellow">To Request a visit to our</p>
                  <p class="span underline-left cursor--touch" @click="handleVisual">Visual Mock-up Unit</p>
                  <br>
                  <p class="yellow">please Contact our</p>
                  <p class="yellow">Marketing Office</p>
                </div>
              </b-col>
              <b-col lg="4" md="4" sm="12" xs="12">
                <div class="box-contact">
                  <div class="title">Lead Marketing Consultant</div>
                  <img src="~/static/images/inquiries/logo-inquiries.png">
                  <div class="phone">+6221 2550 9500</div>
                </div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import axios from 'axios'
export default {
  layout: 'inquiries',
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {
      notEmpty1: false,
      notEmpty2: false,
      notEmpty3: false,
      name: '',
      email: '',
      phone: ''
    }
  },
  methods: {
    async handleSave () {
      let body = {
        to: 'karir.fathan@gmail.com',
        subject: 'Menanyakan gedung Daswin',
        body: `Name: ${this.name} <br> Email: ${this.email} <br> Phone: ${this.phone}`
      }

      let options = {
        headers: {
          'Content-Type': 'application/json'
        }
      }
      // https://daswin-224715.appspot.com/
      // http://localhost:8080//
      let xhr = await axios.post('https://daswin-224715.appspot.com/send-email', body, options)
      console.log(xhr)
      if (xhr.status === 200) {
        alert(xhr.data.message)

        this.name = ''
        this.email = ''
        this.phone = ''
      }
    },
    handleVisual () {
      this.$router.push({
        path: '/inquiries/visual-1'
      })
    }
  }
}
</script>
