<template>
  <div class="info-detail-wrapper">
    <b-container>
      <b-row>
        <b-col lg="6" md="6" sm="12" xs="12">
          <div class="info-detail-wrapper__time-title">
            <div class="time">26 JANUARY 2018</div>
            <div class="title">
              Ground Breaking Daswin Office Tower
            </div>
            <div class="source">SOURCE BY : JAKARTA POST</div>
          </div>
        </b-col>
        <b-col lg="6" md="6" sm="12" xs="12">
          <div class="info-detail-wrapper__description">
            <p>
              The Gesit Companies, Santini Group, Mitsubishi Estate Co., Ltd. and Shimizu Corporation are pleased to announce the start of a new construction for the Daswin Office Tower Project (Provisional Name) in the heart of CBD Jakarta, Indonesia through PT Windas Development. The property is scheduled for completion by early 2021 and it is the first business for Mitsubishi Estate to develop an office building in Indonesia. Taking in Mitsubishi Jisho Sekkei Inc.’s architectural design, PT Windas Development has appointed Shimizu-TOTAL Bangun Persada Joint Operation as a design and build contractor of the project. This large scale development project involves the development of a 50-story office building on approx. 16,000 m2 site in the heart of CBD Jakarta which, combined with retail facilities and multifunction hall on the lower floors, will boast a total floor area of more than 140,000m2.
            </p>
            <img src="~/static/images/projects-update/article-1.png">
            <img src="~/static/images/projects-update/article-2.png">
            <div class="box-news-link">
              <div class="box-news-link__title">News Link</div>
              <div class="box-news-link__desc">
                <a href=""><div class="span underline-left">Duet Soetoyo Wanandi Memulai Konstruksi Perkantoran Rp-3-5-triliun</div></a>
                <a href=""><div class="span underline-left">Santini Group Gandeng Mitsubishi Bangun Gedung Perkantoran 50 Lantai</div></a>
                <a href=""><div class="span underline-left">Daswin Development Project In Central Jakarta Kicks Off Construction</div></a>
                <a href=""><div class="span underline-left">Gedung Perkantoran Baru Dibangun Di Persimpangan Rasuna Said</div></a>
                <a href=""><div class="span underline-left">Gedung Perkantoran Baru Bakal Hadir Di Kawasan Kuningan</div></a>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <ListProjects/>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import ListProjects from '@/components/List/ListProjects'
import BackgroundPath from '~/static/images/projects-update/bg-project-update.jpeg'
export default {
  layout: 'projectdetail',
  components: {
    DaswinNavbar,
    DaswinCopyright,
    ListProjects
  },
  data () {
    return {
      backgroundUrl: BackgroundPath
    }
  }
}
</script>
