<template>
  <div class="daswin-copyright">
    <b-container fluid>
      <b-row>
        <b-col cols="12">
          Copyright &copy; 2019 Daswin Office Tower. All Rights Reserved.
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
