<template>
  <div>
    <DaswinNavbar
      :type-logo="true"
      :type-hamburger="'type-black'"
    />
    <div class="mg-bottom--10em"></div>
    <nuxt/>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
export default {
  components: {
    DaswinNavbar
  }
}
</script>
