<template>
  <div class="daswin-wrapper">
    <div
      class="home-page"
    >
      <div class="home-page__background" :style="{ backgroundImage: `url(${backgroundUrl})` }"></div>
      <div class="overlay-home"></div>
      <DaswinNavbar
        :type-logo="true"
        :type-hamburger="'type-white'"
      />
      <div class="home-page__content">
        <div class="box">
          <div class="box__title js-spanize">
            The Iconic Workplace <br/>of Rising Enterprises
            
          </div>
          <div class="box__description">
            <p class="js-spanize">Strategically situated in the heart of CBD Jakarta, "Daswin Office Tower"</p>
            <p class="js-spanize">stands tall beyond excellence above the rest and setting a new high</p>
            <p class="js-spanize">standard for premium office building.</p>
            <p class="bottom js-spanize">Ready to welcome you in early 2021</p>
          </div>
        </div>
      </div>
      <DaswinCopyright/>
    </div>
  </div>
</template>

<script>
import DaswinNavbar from '@/components/Header/DaswinNavbar'
import DaswinCopyright from '@/components/Footer/DaswinCopyright'
import BackgroundHome from '~/static/images/home/bg-home.jpeg'
export default {
  components: {
    DaswinNavbar,
    DaswinCopyright
  },
  data () {
    return {
      backgroundUrl: BackgroundHome
    }
  }
}
</script>
