<template>
  <transition name="fade">

            <div class="content__box-information">
              <div class="box-body detail-building">
                <div class="box-body__title-top">
                  BUILDING INFORMATION
                </div>
                <div class="box-body__title">
                  Elevation
                </div>
                <div class="box-body__title">
                  Typical Mid Zone
                </div>
                <div class="box-body__info-level">
                  Level 23 - Level 38 • 1.724 sqm Semigross
                </div>
                <div class="box-body__info-description">
                  All area are subject to final measurements.
                </div>
                <div class="box-body__info-type">
                  Single Tenancy
                </div>
                <div class="box-body__image">
                  <img src="~/static/images/building-specification/denah-typical-mid-zone-v1.png">
                </div>
              </div>
            </div>
  </transition>
</template>

<script>
export default {
  layout: 'project'
}

</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
