.our-building-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &__story {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    
    .background {
      position: absolute;
      background-attachment: fixed;
      background-position: bottom!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      z-index: 10;

      .box {
        margin-left: -17em;
        max-width: 65%;
        padding-right: 22%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: left;
        margin-top: 48em;

        &__title-top {
          display: block;
          font-size: 1em;
          color: $black;
        }

        &__title {
          display: block;
          font-size: 2em;
          color: $black;
          margin-bottom: 20px;
          font-family: 'Butler';
          font-weight: bold;
        }

        &__description {
          display: block;
          
          p {
            font-size: 14px;
            color: $black;
            margin-bottom: 10px;
            font-family: 'Avenir';
            font-weight: 300;
          }
        }
      }
    }
  }

  &__shareholders {
    padding: 100px 0;
    text-align: center;

    .mg-top--box {
      margin-top: 40px;
    }

    .box-shareholders {
      width: 100%;
      display: inline-block;

      &__one {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border: 0;
        width: 10%;
        border-top: 1px solid #ffc107;
        display: inline-block;
      }
  
      &__two {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border: 0;
        border-top: 1px solid #ffc107;
      }

      &__title {
        font-size: 35px;
        font-family: 'Butler';
        font-weight: 400;
        color: $black;
        margin-bottom: 10px;
      }

      &__description {
        width: 100%;
        display: block;

        p {
          font-family: 'Avenir';
          font-weight: 300;
          font-size: 14px;
          color: $black;
        }
      }
    }
  }

  &__past-project {
    width: 100%;
    display: block;

    .title {
      text-align: center;
      font-family: 'Butler';
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .box-list-project {
      display: block;
      width: 100%;

      &__list {
        float: left;
        width: 33.3333%;
        height: 230px;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.29);
          z-index: 9;
        }

        &:hover {
          img {
            transform: scale(1.2);
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }
        }

        .box-info {
          max-width: 50%;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: center;
          z-index: 9;
          color: #FFF;
          
          &__title {
            font-family: 'Butler';
            font-weight: 500;
            font-size: 16px;
          }

          &__subtitle {
            font-size: 14px;
            font-family: 'Avenir';
            font-weight: 300;
          }
        }

        img {
          top: -9999px;
          right: -9999px;
          left: -9999px;
          bottom: -9999px;
          margin: auto;
          position: absolute;
          width: 100%;
          height: auto;
          z-index: 1;
          transition: all 0.25s linear;
        }
      }
    }
  }

  &__project-team {
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    text-align: center;

    .title-top {
      font-size: 14px;
      font-family: 'Avenir';
      font-weight: 300;
      letter-spacing: 2px;
    }

    .title-second {
      font-family: 'Butler';
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .main-contractor {
      width: 100%;
      display: inline-block;
      margin-bottom: 30px;

      .title {
        font-family: 'Butler';
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 20px;
      }

      img {
        width: 300px;
        margin-bottom: 30px;
      }
    }

    .main-international {
      width: 100%;
      display: inline-block;
      margin-bottom: 50px;

      .title {
        font-family: 'Butler';
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 20px;
      }

      img {
        width: 80%;

        &.first {
          width: 300px;
          margin-bottom: 10px;
        }
      }
    }

    .main-bottom {
      width: 100%;
      display: inline-block;

      .title {
        font-family: 'Butler';
        font-weight: 300;
        font-size: 26px;
        margin-bottom: 20px;
      }

      img {
        width: 100%;

        &.first {
          width: 100%;
          margin-bottom: 10px;
        }

        &.second {
          width: 150px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.info-tenant-wrapper{
  .box-listing{
    margin-top: 0 !important;
    position: relative;
    z-index: 20;
  }
  .box-listing__list{
    position: absolute;
    z-index: 20;
    width: auto !important;

    &.is-1{
      top: 28%;
    }
    &.is-2{
      top: 37%;
    }
    &.is-3{
      top: 48%;
    }
    &.is-4{
      top: 56%;
    }
    &.is-5{
      top: 75%;
    }
    &.is-6{
      top: 84%;
    }
  }

}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
}
