.our-location-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &__box-left {
    float: left;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;

    .description {
      align-self: flex-start;
      width: 65%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: auto;
      margin-top: 12em;

      &__title {
        font-size: 35px;
        color: $black;
        margin-bottom: 15px;
        font-family: 'Butler';
        font-weight: bold;
      }

      &__desc {
        width: 100%;

        p {
          font-size: 15px;
          line-height: 30px;
          color: $black;
          font-family: 'Avenir';
          font-weight: 300;
        }

        hr {
          margin-top: 1rem;
          margin-bottom: 0rem;
          border: 0;
          width: 10%;
          border-top: 1px solid #ffc107;
          float: left;
        }
      }
    }

    .copyright {
      align-self: flex-end;
      width: 100%;
      padding: 15px;
      padding-left: 3em;
      font-size: 12px;
    }
  }

  &__box-right {
    float: right;
    width: 50%;
    height: 100%;
    cursor: pointer;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    .marker {
      position: absolute;
      right: 28.5vh;
      bottom: 23.5vh;
      -webkit-animation: bounce 2s infinite 2s;
      animation: bounce 2s infinite 2s;

      img {
        width: 40px;
      }
    }
  }
}

.maps-full-wrapper {
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;

  .maps-full {
    position: relative;

    .icon-close {
      float: right;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;

      > img {
        width: 40px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
