.specification-wrapper {
  width: 100%;
  display: block;
  font-size: 14px;

  &__title {
    width: 100%;
    display: inline-block;
    margin-bottom: 6em;

    .title {
      text-align: center;
      font-size: 16px;
      margin-top: 5em;
      letter-spacing: 2px;
    }

    .sub-title {
      text-align: center;
      font-size: 3em;
      font-family: 'Butler';
      font-weight: 300;
    }
  }

  &__box-content {
    width: 100%;
    display: block;

    .box-content-image {
      float: left;
      width: 50%;

      &__footer {
        padding: 50px 30px;
        margin-top: 2em;
        font-size: 12px;
        color: $black;
      }

      &__list {
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        height: 33.3333%;

        img {
          display: block;
          width: 100%;
          height: auto;
          opacity: 0;
          -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear;
        }
      }
    }

    .box-content-description {
      float: right;
      width: 50%;
      padding: 20px;
      padding-top: 9.5em;

      .table th, .table td {
        border: 0;
        padding: 0px;
        color: #a9a7a7;
        font-family: 'Avenir';
        font-weight: 300;
        line-height: 25px;
        // letter-spacing: 1px;

        &.w-25 {
          width: 25%;
          font-family: 'Avenir';
          font-weight: 500;
          color: $black;
        }
      }

      hr {
        border-top: 1px solid rgb(243, 131, 3);
      }
    }
  }
}

.retail-facilities {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  &__image-big {
    position: absolute;
    float: left;
    width: 45%;
    overflow: hidden;
    display: inline-block;

    .image {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  &__info-description {
    width: 55%;
    height: 250px;
    float: right;
    text-align: center;
    padding: 0px 7em;
    margin-top: 100px;
    display: inline-block;

    .title-top {
      font-size: 12px;
      color: $black;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .title {
      font-size: 35px;
      color: $black;
      font-family: 'Butler';
      font-weight: bold;
    }

    .description {
      font-size: 13px;
      color: $black;
    }
  }

  &__image-medium {
    width: 55%;
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
    display: inline-block;

    .list-image {
      width: 50%;
      height: 300px;
      float: left;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.info-tenant-wrapper {
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: block;
  position: relative;
  // overflow: hidden;
  // overflow-y: auto;

  &__story {
    position: relative;
    background-position: bottom!important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 700px;
    // overflow: hidden;

    .background {
      position: absolute;
      background-position: top!important;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      min-height: 700px;
      // animation: grow 150000ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      &__box-list {
        width: 60%;
        display: flex;
        justify-content: flex-end;

        .box-listing {
          width: 20vw;
          margin-top: 23%;

          &__list {
            display: inline-block;
            width: 100%;

            &.active {
              display: block;

              .number {
                background-color: $white;
                color: $black;
              }
            }



            .number {
              width: 20px;
              height: 20px;
              font-size: 11px;
              background-color: transparent;
              border: 1px solid $white;
              float: left;
              margin-right: 13px;
              border-radius: 50%;
              color: $white;
              text-align: center;
              padding-top: 1px;
            }

            .text {
              width: 85%;
              margin-left: 38px;
              cursor: pointer;

              &__title {
                font-size: 16px;
                font-weight: 600;
                color: $white;
                font-family: 'Butler';
              }

              &__level {
                font-size: 12px;
                color: $white;
              }
            }
          }
        }
      }

      &__box-information {
        width: 40%;
        position: absolute;
        right: 0;
        top: 10%;

        .box-body {
          display: block;
          width: 33vw;
          margin-top: 14vh;
          text-align: center;

          &.detail-building {
            margin-top: 12vh;
          }

          &.detail-building-multifunction {
            margin-top: 0;

            img {
              margin-top: 0px;
              width: 80%;
              height: auto;
            }
          }

          &__title-top {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 18px;
            color: $white;
            margin-bottom: 20px;
            letter-spacing: 2px;
          }

          &__title {
            font-family: 'Butler';
            font-weight: 400;
            font-size: 28px;
            color: $white;
            margin-bottom: 10px;
            letter-spacing: 1px;
          }

          &__info-level {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 5px;
            color: #ffc107;
          }

          &__info-description {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 5px;
            color: $white;
          }

          &__info-type {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 14px;
            color: $white;
            margin-bottom: 3px;

            &.underline {
              border-bottom: 1px solid $white;
              display: inline-block;
            }

            img {
              width: 8px;
            }
          }

          &__image {
            display: block;

            img {
              // margin-top: -15px;
              width: 80%;
              height: auto;
            }
          }

          &__description {
            font-family: 'Avenir';
            font-weight: 300;

            p {
              font-size: 12px;
              color: $white;
              margin: 0;
              margin-bottom: 20px;
              line-height: 30px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }

  &__listing-project {
    width: 100%;
    display: block;

    .title {
      text-align: center;
      font-family: 'Butler';
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .box-list-project {
      display: block;
      width: 100%;

      &__list {
        float: left;
        width: 25%;
        height: 230px;
        overflow: hidden;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.29);
          z-index: 9;
        }

        &:hover {
          img {
            transform: scale(1.2);
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
          }
        }

        .box-info {
          max-width: 50%;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: center;
          z-index: 9;
          color: #FFF;

          &__title {
            font-family: 'Avenir';
            font-weight: 300;
            font-size: 12px;
            margin-bottom: 5px;
          }

          &__subtitle {
            font-size: 18px;
            font-family: 'Butler';
            font-weight: 500;
          }

          button {
            border-radius: 50px;
            background-color: $white;
            color: $black;
            border: 1px solid $white;
            padding: 3px 20px;
            margin-top: 10px;
          }
        }

        img {
          top: -9999px;
          right: -9999px;
          left: -9999px;
          bottom: -9999px;
          margin: auto;
          position: absolute;
          width: 100%;
          height: auto;
          z-index: 1;
          transition: all 0.25s linear;
        }
      }
    }
  }
}

.info-detail-wrapper {
  width: 100%;
  display: inline-block;
  padding: 50px 0;
  padding-bottom: 0;

  &__time-title {
    width: 100%;
    display: inline-block;

    .time {
      font-family: 'Avenir';
      font-weight: 300;
      font-size: 16px;
    }

    .title {
      font-family: 'Butler';
      font-weight: bold;
      font-size: 3em;
      margin-bottom: 20px;
    }

    .source {
      font-family: 'Avenir';
      font-weight: 300;
      font-size: 16px;
    }
  }

  &__description {
    width: 100%;
    display: inline-block;

    p {
      font-family: 'Avenir';
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
    }

    img {
      width: 100%;
    }

    .box-news-link {
      width: 100%;
      display: inline-block;
      margin-bottom: 30px;

      &__title {
        font-family: 'Butler';
        font-size: 16px;
      }

      &__desc {
        width: 100%;
        display: inline-block;

        a {
          font-family: 'Avenir';
          font-weight: 300;
          font-size: 14px;
          color: #bdbdbd;
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5)
  }
}
